@model List<HoraireList>

<h1>Liste des stations</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Nb vélos</th>
            <th>Nb vélos élec</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var station in Model)
        {
            <tr>
                <td>@station.BoatName</td>
                <td>@station.ClosingType</td>
                <td>@station.ClosingDate</td>
                <td>@station.ReopeningDate</td>
                <td><a class="btn btn-info" asp-controller="User" asp-action="AddFavorite" asp-route-stationId="">Ajouter</a></td>
            </tr>
        }
    </tbody>
</table>